/* .nav-width{
    width: 80%;
  
    margin: 0 100px;
} */

.primary-color{
    background-color: #FEEAE9;
}


.container-width{
    width: 80%;
   
    
   
}

.catagories img{
    width: 100px;
}


.panda-btn-buy{
    color: white;
    border-radius: 8px;
    padding: 9px 25px;
    border: none;
    background-image: linear-gradient(120deg, crimson,rgba(250, 45, 9, 0.623));
}